<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="https://myslu.slu.edu/res/images/cas-padlock-icon.png">
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/css/loading.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/paper-kit.css" rel="stylesheet"/>
    <link href="../css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link href="../css/nucleo-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{body}}}
  </body>
  <!-- Core JS Files -->
 <script src="../js/jquery-3.2.1.js" type="text/javascript"></script>
 <script src="../js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
 <script src="../js/tether.min.js" type="text/javascript"></script>
 <script src="../js/bootstrap.min.js" type="text/javascript"></script>
 <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

 <!--  Paper Kit Initialization snd functons -->
 <script src="../js/paper-kit.js?v=2.0.1"></script>
    <script src="../js/build.js"></script>

</html>
