<div ng-init="init('{{mySesion}}')" ng-app="home" ng-controller="loginCtrl">

<div class="loading" ng-show="loading">Loading&#8230;</div>
  <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="450">
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
        <a class="navbar-brand" href="/login">Login por Hanser</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://github.com/Hanser9/login-hanser" target="_blank" class="nav-link">Git Hub</a>
          </li>
          <li class="nav-item" ng-hide="{{mySesion}}">
            <a href="/login" class="nav-link">Iniciar sesion</a>
          </li>
          <li class="nav-item" ng-show="{{mySesion}}">
            <a class="nav-link" ng-click="btnCerrarSesion()">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header" data-parallax="true" style="background-image: url('http://avante.biz/wp-content/uploads/Halo-wallpaper/Halo-wallpaper-033.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Ejemplo de Login</h1>
          <h3>Por Hanser</h3>
          <br>
          <a class="btn btn-outline-neutral btn-round" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa fa-play"></i>Mirar video</a>
          <a class="btn btn-outline-neutral btn-round" target="_blank" href="https://github.com/Hanser9/login-hanser"><i class="fa fa-download"></i>Descargar</a>
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">¿Como esta diseñado?</h2>
              <h5 class="description">
                Este login maneja una encriptacion por sha-256 que se guarda en una base de datos de mySql.
              </h5>
              <br>
          </div>
      </div>
      <br><br><br><br>
      <div class="row">
          <div class="col-md-6">
              <div class="info">
                  <div class="description">
                      <h4 class="info-title">Sha-2</h4>
                      <p class="description">Es un algoritmo que transforma un conjunto arbitrario de elementos de datos, como puede ser un fichero de texto.</p>
                      <a class="btn btn-link btn-danger" target="_blank" href="https://es.wikipedia.org/wiki/SHA-2">Leer mas.</a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="info">
                  <div class="description">
                      <h4 class="info-title">Validacion de correos</h4>
                      <p>Se utiliza la validacion de correos por JavaScript</p>
                      <a class="btn btn-link btn-danger" href="https://es.stackoverflow.com/questions/142/validar-un-email-en-javascript">Leer mas.</a>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<footer class="footer footer-black">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="https://github.com/Hanser9">Git Hub</a></li>
          <li><a href="https://www.facebook.com/horusnetwork/">Facebook</a></li>
          <li><a href="https://www.instagram.com/jose_carloshr/">Instagram</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © <script>document.write(new Date().getFullYear())</script>, Creado por <i class="fa fa-heart heart"></i> Hanser
        </span>
      </div>
    </div>
  </div>
</footer>


</div>
