<div ng-init="init('{{mySesion}}')" ng-app="home" ng-controller="loginCtrl">

  	<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="450">
  		<div class="container">
  			<div class="navbar-translate">
  				<button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  					<span class="navbar-toggler-bar"></span>
  					<span class="navbar-toggler-bar"></span>
  					<span class="navbar-toggler-bar"></span>
  				</button>
  				<a class="navbar-brand" href="/inicio">Login por Hanser</a>
  			</div>
  			<div class="collapse navbar-collapse" id="navbarToggler">
  				<ul class="navbar-nav ml-auto">
  					<li class="nav-item">
  						<a href="https://github.com/Hanser9/login-hanser" target="_blank" class="nav-link">Git Hub</a>
  					</li>
  					<li class="nav-item">
  						<a href="/sigin" class="nav-link">Registrarse</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</nav>
  	<div class="wrapper">
  		<div class="documentation page-header" style="background-image: url('http://pk2-angular.creative-tim.com/assets/img/antoine-barres.jpg')">
  			<div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                      <center><h3 class="card-title">Bienvenido</h3></center>
                        <form class="register-form ng-untouched ng-pristine ng-valid" novalidate="">
                            <label>Usuario</label>
                            <input class="form-control no-border" ng-model="login.usuario" placeholder="Usuario" type="text">

                            <label>Contraseña</label>
                            <input class="form-control no-border" ng-model="login.password" placeholder="Contraseña" type="password">
                            <button class="btn btn-danger btn-block btn-round" ng-click="btnIniciarSesion()">Iniciar Sesion</button>
                        </form>
                        <!-- <div class="forgot">
                            <a class="btn btn-link btn-danger" href="#paper-kit">¿Olvidaste tu contraseña?</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
  		</div>
  	</div>
  	<footer class="footer footer-black">
  		<div class="container">
  			<div class="row">
  				<nav class="footer-nav">
  					<ul>
  						<li><a href="https://github.com/Hanser9">Git Hub</a></li>
  						<li><a href="https://www.facebook.com/horusnetwork/">Facebook</a></li>
  						<li><a href="https://www.instagram.com/jose_carloshr/">Instagram</a></li>
  					</ul>
  				</nav>
  				<div class="credits ml-auto">
  					<span class="copyright">
  						© <script>document.write(new Date().getFullYear())</script>, Creado por <i class="fa fa-heart heart"></i> Hanser
  					</span>
  				</div>
  			</div>
  		</div>
  	</footer>

  </div>

</div>
